@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
  background: #222;
  font-family:'roboto', sans-serif;
}
h1 {
  font-weight: 100;
  color: #fff;
  text-align: center;
}
.con {
  width: 310px;
  height: 320px;
  position: relative;
  margin: auto;
}
.con img {
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.coverImage {
  position: absolute;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/192751/user_denis.png");
  background-size: auto 100%;
  width: 50%;
  height: 100%;
}
.handle {
  width: 0px;
  height: 99%;
  border-left: 12px solid #fff;
  position: absolute;
  left: 50%;
}
.handle:after {
  content: "DRAG";
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid #eee;
  border-radius: 50%;
  color: #999;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  background: #fff;
  position: absolute;
  left: -36px; top: 0; bottom: 0;
  margin: auto;
}
